.body {
    background-color: #f3ede4;
    min-height: 100vh; /* Makes sure the body takes up at least the viewport height */
    margin: 0;
    padding: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
}

.headerText {
    color: #122315;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    font-weight: 800;
    padding-left: 1vw;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2.6vw;
    margin-left: 36vw;
}

.contentHeader {
    display: flex;
    align-items: center;
    height: 2.1vw;
    width: 30vw;
    margin-bottom: 1vw;
    color: #122315;
    font-size: 1.2vw;
}

.contentContainer {
    display: flex;
    align-items: center;
    height: 4.5vw;
    width: 30vw;
    margin-bottom: 1vw;
    border: 1px solid rgb(199, 204, 208);
}

.contentTextSpace {
    color: #122315;
    font-size: 0.8vw;
    margin-left: 2vw;
}