.mainContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 2.6vw;
    margin-left: 36vw;
}

.upperContainer {
    display: flex;
    margin-right: auto;
    margin-bottom: 2vw;
    border-radius: 6px; /* 角の丸みを指定 */
    box-shadow: 2px rgba(0, 0, 0, 0.2);
}

.tabColor {
    background-color: #e7e4e0e7;
}

.toScheduleText {
    display: flex;
    justify-content: center;
    color: rgba(2, 47, 21, 0.855);
    font-size: 1.1rem;
    margin-left: 1.5vw;
    padding: 10px 0 0 0;
}

.lowerContainer {
    display: flex;
    margin-right: auto;
}

.locationContainer {
    background-color: #e7e4e0e7;
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 0 10px 10px 0;
    padding-bottom: 5px;
}

.locationText {
    display: flex;
    align-items: center;
    width: 75%;
    height: 40px;
    font-size: 1.1rem;
    color: rgba(2, 47, 21, 0.869);
    margin-left: 75px;
}

.raceContainer {
    background-color: #f5f5f5;
    display: flex;
    height: 50px;
    margin: 4px 5px 4px 5px;
    border-radius: 2px; /* 角の丸みを指定 */

}

.raceContainer:hover {
    /* ホバー時のスタイル */
    background-color: lightgray;
  }

.raceNumberButton {
    background-color: #044349;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f5f6;
    width: 48px;
    height: 42px;
    margin: 3.5px 0 0 3px;
    font-size: 1.1rem;
    border-radius: 10px; /* 角の丸みを指定 */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.raceInfoSpace {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.rowOne {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 1rem;
}

.rowTwo {
    display: flex;
    height: 18px;
    font-size: 0.9rem;
}

.marginRight {
    margin-right: 17.5px;
}

.linkStyle {
    text-decoration: none; /* 下線を非表示にする */
  }

.linkStyle:hover {
    color: rgb(209, 43, 43, 0.8); /* ホバー時の色を赤に変更 */
    text-decoration: underline; /* 下線を表示する */
  }