.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-top: 30px;
    padding: 20px 40px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoText {
    display: flex;
    align-items: baseline;
}

.net {
    color: #f3ede4;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem; /* あるいは具体的なピクセル値 */
}

.rennen {
    color: #f3ede4;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem; /* あるいは具体的なピクセル値 */
}

.naviLogin {
    display: flex;
    height: 70px;
    align-items: center;
    margin-right: 40px;
}

@media (max-width: 500px) {
    .header {
      height: 50px;
      padding: 10px 20px;
    }
  
    .net, .rennen {
      font-size: 1.5rem; /* 小さくする */
    }
  
    .naviLogin {
      height: 50px;
      margin-right: 20px;
    }

    .logoContainer img {
        width: 60px; /* 画像の幅を小さくする */
        height: auto; /* 高さを自動調整 */
    }

}