.tableWrapper {
    background-color: #f7f5f3;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.horseWrapper {
    display: flex;
    flex-direction: row;
}

.resultWrapper {
    display: flex;
    flex-direction: row;
}

.horseContainer {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 347px;
    height: 175px;
    margin: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.markBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 175px;
}

.numBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 175px;
    color: #353535bf;
    border-left: 0.6px solid rgb(199, 204, 208);
    border-right: 0.6px solid rgb(199, 204, 208);
}

.infoBoxOne {
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 175px;
    padding: 5px 5px 5px 10px;
}

.infoBoxTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67px;
    height: 175px;
    padding-left: 8px;
    font-size: 0.8rem;
    color: #8b8a88bf;
    border-left: 0.6px solid rgb(199, 204, 208);
}

.nameBox {
    display: flex;
    font-size: 1.2rem;
    color: #1FC613;
    overflow: hidden;
}

.jockyBox {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #353535bf;
    margin-top: 5px;
    overflow: hidden;
}

.sireBox {
    display: flex;
    font-size: 0.9rem;
    color: #8b8a88bf;
    overflow: hidden;
}

.oddsBox {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 0.9rem;
    color: #8b8a88bf;
}

.alterGew {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.gaw {
    display: flex;
    flex-direction: column;
}

.textOverFlow {
    white-space: nowrap;
    overflow: hidden;   
    text-overflow: ellipsis;
}

.resultsContainer1 {
    background-color: #fffbe5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 175px;
    padding: 5px;
    margin: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resultsContainer2 {
    background-color: #f5fbff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 175px;
    padding: 5px;
    margin: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resultsContainer3 {
    background-color: #fff8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 175px;
    padding: 5px;
    margin: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resultsContainer4 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 175px;
    padding: 5px;
    margin: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resultsContainerEmpty {
    background-color: #eeeeeebf;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b8a88bf;
    font-size: 0.9rem;
    width: 200px;
    height: 175px;
    padding: 5px;
    margin: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resultsDetailContainerUpper {
    display: flex;
    height: 50px;
}

.dayTitleBox {
    display: flex;
    flex-direction: column;
    height: 50px;
    padding-left: 3px;
    overflow: hidden;
}

.textDayOrt {
    display: flex;
    padding-top: 2px;
    font-size: 0.9rem;
    color: #353535bf;
}

.titleRow {
    display: flex;
    height: 33px;
    font-size: 1.1rem;
    color: #1FC613;
    overflow: hidden;
}

.textCotegorie {
    display: flex;
    width: 48px;
    font-size: 0.9rem;
    color: rgba(3, 70, 73, 0.95);
}

.platzRow {
    display: flex;
    height: 50px;
    margin-top: -1px;
}

.platzContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 50px;
}

.platzBox1 {
    background-color: #fff6c4;
    display: flex;
    justify-content: center;
    width: 32px;
    height: 28px;
    padding-top: 1.5px;
    font-size: 1.1rem;
    color: #353535bf;
    border: 1px solid #9e8600;
    border-radius: 5px;
}

.platzBox2 {
    background-color: #e2f3ff;
    display: flex;
    justify-content: center;
    width: 32px;
    height: 28px;
    padding-top: 1.5px;
    font-size: 1.1rem;
    color: #353535bf;
    border: 1px solid #0068b2;
    border-radius: 5px;
}

.platzBox3 {
    background-color: #fce7e7;
    display: flex;
    justify-content: center;
    width: 32px;
    height: 28px;
    padding-top: 1.5px;
    font-size: 1.1rem;
    color: #353535bf;
    border: 1px solid #b90000;
    border-radius: 5px;
}

.platzBox4 {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 28px;
    padding-top: 1.5px;
    font-size: 1.1rem;
    color: #353535bf;
    border: 1px solid #888888;
    border-radius: 5px;
}

.platzRightContainer {
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-left: 10px;
}

.platzRightRow1 {
    display: flex;
    height: 20px;
    margin-bottom: 3px;
    margin-left: -5px;
    font-size: 0.9rem;
    color: #8b8a88bf;
    overflow: hidden;
}

.platzRightRow2 {
    display: flex;
    height: 20px;
    font-size: 0.95rem;
}

.platzRightTextBox {
    display: flex;
    flex-direction: row;
}

.resultsDetailContainerLower {
    display: flex;
    flex-direction: column;
    height: 66px;
}

.lowerRow1 {
    display: flex;
    height: 22px;
    margin-bottom: 1px;
    padding-left: 3px;
}

.lowerRow2 {
    display: flex;
    height: 22px;
    margin-bottom: 1px;
    padding-left: 3px;
    overflow: hidden;
}

.lowerRow3 {
    display: flex;
    height: 22px;
    padding-left: 3px;
}

.textSmallLight {
    display: flex;
    font-size: 0.9rem;
    color: #8b8a88bf;
    margin-left: 14px;
}

.strs {
    display: flex;
    margin-left: -8px;
    font-size: 0.95rem;
    color: #353535bf;
}

.distanz {
    font-size: 0.95rem;
    color: #353535bf;
}

.raceTime {
    font-size: 0.95rem;
    color: #353535bf;
    margin-left: 10px;
}

.textLightEvq {
    display: flex;
    font-size: 0.95rem;
    color: #8b8a88bf;
    margin-left: 14px;
}

.textExtraSmall {
    font-size: 0.9rem;
    color: #8b8a88bf;
    margin-left: 2px;
}

.passingOrder {
    display: flex;
    font-size: 0.95rem;
    color: #8b8a88bf;
}

.commentText {
    display: flex;
    font-size: 0.95rem;
    color: #8b8a88bf;
    margin-left: 14px;
}

.marginRight {
    margin-right: 10px;
}

.marginLeft {
    margin-left: 10px;
}

.linkStyle {
    text-decoration: none; /* 下線を非表示にする */
  }

.linkStyle:hover {
    color: rgb(209, 43, 43, 0.8); /* ホバー時の色を赤に変更 */
    text-decoration: underline; /* 下線を表示する */
}

.checkBoxContainer {
    background-color: #ddddddbf;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    font-size: 24px;
    color: #353535bf;
}


@media (max-width: 500px) {
    .mobilMainContainer {
        display: flex;
        flex-direction: column;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-weight: 400;
    }

    .horseWrapper {
        display: flex;
        flex-direction: column;
    }

    .horseContainer {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        width: 97%;
        height: 120px;
        margin: 0 0 10px 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .markBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 10%;
        height: 120px;
        padding-left: 3px;
    }

    .number {
        margin-top: 5px;
        font-size: 0.85rem;
        color: #353535bf;
    }

    .checkBoxContainer {
        width: 24px;
        height: 24px;
        margin-top: 10px;
        padding-top: 3px;
        border-radius: 5px;
        font-size: 21px;
        color: #ff0095;
    }

    .infoBoxOne {
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 120px;
        padding: 5px 0 5px 5px;
    }
    
    .infoBoxTwo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 35%;
        height: 120px;
        padding-left: 5px;
        color: #8b8a88bf;
        border-left: 0.6px solid rgb(199, 204, 208);
    }
    
    .nameBox {
        display: flex;
        font-size: 1.1rem;
        color: #1FC613;
  
    }

    .alt {
        font-size: 0.8rem;
        color: #767675cf;
        margin-bottom: 2px;
    }

    .jockyBox {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        overflow: hidden;
    }
    
    .jocky {
        font-size: 0.8rem;
        color: #353535bf;
        margin-bottom: 2px;
        overflow: hidden;
    }
    
    .sireBox {
        display: flex;
        flex-direction: column;
        font-size: 0.85rem;
        color: #353535bf;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: hidden;
    }
    
    .oddsAndButton {
        display: flex;
        justify-content: space-between;
    }
    .odds {
        font-size: 0.9rem;
        color: #8b8a88bf;
        margin-left: 5px;
    }

    .showSwiper {
        font-size: medium;
        color: #4d4d4dbf;
        margin-top: -3px;
        margin-right: 8px;
    }
    
    .gewGag {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }
    
    .textOverFlow {
        overflow: hidden;   
    }

    .resultWrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }

    .resultsContainer1 {
        width: 90%;
    }
    
    .resultsContainer2 {
        width: 90%;
    }
    
    .resultsContainer3 {
        width: 90%;
    }
    
    .resultsContainer4 {
        width: 90%;
    }
    
    .resultsContainerEmpty {
        width: 50%;
    }

    .titleRow {
        font-size: 1rem;
    }

    .platzBox1 {
        width: 32px;
        height: 28px;
        font-size: 1rem;
    }
    
    .platzBox2 {
        width: 32px;
        height: 28px;
        font-size: 1rem;
    }
    
    .platzBox3 {
        width: 32px;
        height: 28px;
        font-size: 1rem;
    }
    
    .platzBox4 {
        width: 32px;
        height: 28px;
        font-size: 1rem;
    }
}