.body {
    background-color: #f7f5f3;
    min-height: 100vh; /* Makes sure the body takes up at least the viewport height */
    margin: 0;
    padding: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 150px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.headerText {
    color: #1FC613;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 10px;
}

.headerBackground {
    background-image: url('https://vercel-netrennen.s3.eu-central-1.amazonaws.com/title_line.png');
    width: 100%;
    height: 20px;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: 3% 50%; 
}

.bodyContainer {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.formContainer {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    height: 600px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
}

.formHeader {
    color: rgba(27, 27, 27, 0.878);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.formBodyContainer {
    margin-left: 60px;
    margin-right: 60px;
}

.sendSuccessed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #484d49b4;
    font-size: 1.4rem;
}

.sendSuccessedText {
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    .pageContainer {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
        margin-bottom: 150px;
    }
    
    .headerContainer {
        margin-top: 20px;
    }
    
    .headerText {
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 5px;
    }
    
    .bodyContainer {
        display: flex;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .formContainer {
        width: 100%;
        height: 500px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
    }
    
    .formHeader {
        color: rgba(59, 59, 59, 0.724);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.85rem;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 10px;
    }

    .formHeader p {
        margin-bottom: 5px;
    }
    
    .formBodyContainer {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }
    
    .sendSuccessed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #484d49b4;
        font-size: 1rem;
    }
    
    .sendSuccessedText {
        margin-bottom: 20px;
    }

}